/*doc
---
title: Buttons
name: 0_buttons
category: basics
---


Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:


```html_example
<button class="btn btn-primary">Click Me</button>
<a class="btn btn-secondary" href="#">Click Me!</a>

```

*/
