/*doc
---
title: Typography
name: 0_typography
category: basics
---
### Headings
```html_example
<h1>Heading 1</h1>
```
font-family: Helvetica; font-weight: 300; font-size: 78px; color: #0082ca; letter-spacing: 1px; line-height: 92px;

```html_example
<h2>Heading 2</h2>
```
```html_example
<h3>Heading 3</h3>
```


<br />
### Paragraph
```html_example
<p>Regular Paragraph Text Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p class="small">Small Paragraph Text Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p class="lead">Intro or "Lead"ing Paragraph Text Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

```
<br />

### Blockquote
```html_example_with_table
<blockquote> Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</blockquote>
<cite>Bethany Brown</cite>
```

### Links
```html_example
<a href="http://example.com">Example</a>
```
*/

@mixin fancy-underline($color: #ffffff) {
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    content: "";
    bottom: 0.25em;
    left: 0;
    width: 0;

    border-bottom: 1px solid $color;
    opacity: 0;
    transition: opacity $speed/2 $easing, width $speed $easing;
  }

  &:hover:after {
    width: 100%;
    opacity: 1;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 { font-weight: 300; }


h1 {
font-family: Helvetica;
font-weight: 300;
font-size: 78px;
color: #0082ca;
letter-spacing: 1px;
line-height: 92px;
}

h2 {
  letter-spacing: 1px;
  line-height: 1.154;
}

h3 {
  letter-spacing: 0.8px;
  line-height: 2.8125rem;
}

h4 {
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 2rem;
}

ul, ol, dl, p { margin-bottom: 30px; }

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.lead {
  letter-spacing: 0.1px;
  line-height: 2rem;
}

small,
.small {
  font-weight: 600;
}

blockquote {
  margin: 0 auto 30px;

  font-size: 1.07rem;
  letter-spacing: 0.1px;
  line-height: 1.6875;

  strong {
    display: block;
    font: {
      size: 1.5625rem;
      weight: 400;
    }
    line-height: 1.2;
  }

  .ldquo, .rdquo {
    position: relative;
    display: block;
    width: 70px;
    height: 13px;
    margin: 0 auto;
  }

  .ldquo { margin-bottom: 20px; }
  .rdquo { margin-top: 20px; }

  + cite {
    display: block;

    font-style: normal;
    text-align: center;
  }

  &.text-left {
    .ldquo, .rdquo {
      margin-left: 0;
    }

    + cite { text-align: left; }
  }

  &.wide {
    .ldquo, .rdquo {
      width: 220px;
    }
  }
}
